[Unit]
Description=painkiller/layouts

[Service]
ExecStart=/home/arctair/painkiller/layouts/build/server 8082 "file:/home/arctair/warehouse/painkiller/layouts.sqlite?cache=shared" https://layouts.painkillergis.com
Type=simple
WorkingDirectory=/home/arctair/warehouse/painkiller/layouts
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
